.bygg-renovering-page {

  .br-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;

    background-color: #fff h1 {
      font-weight: 300;
    }

    p {
      color: #f2f2f2;
      font-size: 1.5rem;
    }

    display: flex;
    flex-direction: column;
  }

  .br-hero {
    padding: 60px 0;
    background: #111;
    color: #fff;
    text-align: center;

    background-image: url('../images/byggRenovering/heroRenovering.jpg');
    background-size: cover; // растянуть
    background-position: center; // центрировать
    background-repeat: no-repeat;
  }

  .br-hero h1 {
    font-size: 3rem;
  }

  .br-services {
    padding: 40px 0;
  }

  .br-services-grid {
    display: flex;
    gap: 40px;
  }

  .br-service-card {
    flex: 1;
    padding: 30px;
    background: linear-gradient(to bottom, #cbcbcb, #a9a9a9);
    border-radius: 18px;

    h2 {
      margin: 0 0 10px;
      font-weight: 300;
      font-size: 1.7rem;
    }

    p {
        font-weight: 3200;
      font-size: 1.3rem;
      color: #111;
    }
  }

  .br-extra {
    text-align: center;

    p {
      color: #111;
    }
  }

  @media (min-width: 992px) {
    .br-services-grid {
      display: flex;
      flex-direction: row;
    }
  }

  button {
    font-size: 1.5rem;
    font-weight: 100;
  }
}