
.two-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.two-column .image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.trust-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.trust-list li {
  margin-bottom: 10px;
  font-weight: 600;
}

.faq-item {
  margin-bottom: 25px;
}

/* DESKTOP */
@media (min-width: 768px) {

  .two-column {
    flex-direction: row;
    align-items: center;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .two-column .text {
    flex: 0 0 60%;
  }

  .two-column .image {
    flex: 0 0 40%;
  }

  
}