.two-column {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.two-column img {
  width: 100%;
  border-radius: $radius;
}

.trust {
  text-align: center;
}

.trust-list {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.trust-list li {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
}

.faq {
  max-width: 600px;
}

.blog {
  max-width: 600px;
}

.faq-item {
  background: $color-white;
  padding: 25px;
  border-radius: $radius;
  box-shadow: $shadow-soft;
  margin-bottom: 20px;
}


@media (min-width: 768px) {

  .sectionRow {
    display: flex;
    justify-content: center;
  }



  .two-column {
    flex-direction: row;
    align-items: center;
  }

  .two-text-column {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .two-column .text {
    flex: 0 0 60%;
  }

  .two-column .image {
    flex: 0 0 40%;
  }
}